@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Teko:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #1A5276;
}

a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

main {
    width: 80em;
    margin: 0 auto;
    height: 40em;

    /* Centralização do conteúdo */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os elementos em coluna */
}

h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 90px;
    font-family: "Irish Grover", system-ui;
    text-align: center;
    color: #FFFFFF;
}

button {
    width: 8em;
    height: 3em;
    margin-top: 4em;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: green;
    font-size: 30px;
    font-family: "Irish Grover", system-ui;
    transition: transform 0.3s;
    color: white;
}

button:hover{
    transform: translateY(-10px);
}

@media screen and (max-width: 500px){

    *{
        padding: 0;
        margin: 0;
    }

    main{
        width: 100%;

        h1{
            font-size: 50px;
        }

        button{
            margin-top: 7em;
            box-sizing: border-box;
            font-size: 20px;
            
        }
    }
    
}

@media screen and (max-width: 400px){

    main{

        h1{
            font-size: 40px;
        }

        button{
            margin-top: 5em;
        }
    }


}